body{
    background-color: black;
    padding: 20px;
}

.waper{
    background-image: url(img/fundo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment:  fixed;
    width: 100%;
    height: 800px;
}

.centro{
    padding: 50px 0px 0px 60px;
    text-align: center;
    text-rendering: auto;
    display: inline-block;
}

.card{
    width: 230px;
    height: 410px;
    display: inline-block;
    position: relative;
    transition: 1s;
    perspective: 2000px;
    box-shadow: inset 200px 0px 50px rgba(0, 0, 0, 1);
}

.card:hover{
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0px 50px rgba(0, 0, 0, 1);
}

.card > .imgBox{
    position: relative;
    width: 100%px;
    height: 100%px;
    z-index: 1;
}

.card > .imgBox img{  
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: top left;
    transition: 1s;
}

.card:hover > .imgBox img{  
    transform:rotateY(-140deg);
}

.card >.textBox p {
    margin-bottom: 0;
    text-indent: 1.5em;
    margin-top: 0;
    color:rgba(237, 252, 169, 0.829);
    text-shadow: 1px 1px rgb(9, 1, 32);
 }

.card > .textBox{
    color:rgba(245, 8, 8, 0.829);
    position: absolute;
    top: 0px;
    left: 0px;
    font-style: italic;
    font-size: 16px;
    line-height: 18px;
    padding: 15px;
    text-align: justify;
}

.card:hover > .textBox{
    animation:level 1s forwards;
}

@keyframes level{
    0%{z-index: 0;}
    100%{z-index:1;}
}

.waper2{
    background-image: url(img/fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment:  scroll;
    width: 100%;
    height: 800px;
}
